/*seccion principal*/
#main-section{
    display: flex;
}
/*---------------sencion de categorias---------------*/
#main-section #categories-section{
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
}
#main-section #categories-section #categories{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    background-color: var(--bg2);
}
/*Categorias titulo*/
#main-section #categories-section #categories .tittle{
    background-color: var(--primary);
    color: #FFFFFF;
    border-radius: 7px 7px 0 0;
    padding: 15px 20px;
}
#main-section #categories-section #categories .tittle h1{
    margin: 0;
}
/*Categorias Elementos*/
#main-section #categories-section #categories .elements{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}
#main-section #categories-section #categories .elements div{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 10px;
    border-radius: 7px;
    transition: background .3s;
}
#main-section #categories-section #categories .elements div:hover{
    background-color: var(--com-color);
    cursor: pointer;
}

/*linea divisora de categories*/
#main-section #categories-section #categories hr{
    height: 2px;
    background-color: var(--border-color);
    width: 100%;
    border-radius: 7px;
    border: none;
}
/*añadir seccion boton*/
#main-section #categories-section #categories button{
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: var(--com-color);
    margin: 0 20px;
    transition: .5s;
}
#main-section #categories-section #categories button:hover{
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

/*-------------------Seccion de tareas-------------*/
#main-section #tasks-section{
    width: 52%;
    box-sizing: border-box;
    padding: 20px;
}

#main-section #tasks-section #tasks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*header de la seccion de tareas*/
#main-section #tasks-section #tasks .tasks-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-section #tasks-section #tasks .tasks-header h1{
    font-size: 26px;
    margin: 10px 0;
}
#main-section #tasks-section #tasks .tasks-header a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: var(--primary);
    border: none;
    color: #FFFFFF;
    border-radius: 7px;
    width: 50px;
    height: 40px;
    transition: filter .5s;
    text-decoration: none;
}
#main-section #tasks-section #tasks .tasks-header a:hover{
    filter: brightness(2);
}


#main-section #tasks-section #tasks .task{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 5% 85% 5% 5%;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 13px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    background-color: var(--bg2);
}

/*contenido task*/
#main-section #tasks-section #tasks .task .checkbox-input{
    grid-row: 1/3;
    grid-column: 1/2;

    height: 20px;
}
#main-section #tasks-section #tasks .task .task-tittle{
    grid-row: 1/2;
    grid-column: 2/3;
    
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    padding: 0px 10px;
}
#main-section #tasks-section #tasks .task .task-creating-date{
    grid-row: 1/2;
    grid-column: 3/5;
    color: var(--sub-fore-ground);
    align-self: flex-start;
    justify-self: center;
    font-size: 12px;
}
#main-section #tasks-section #tasks .task .task-description{
    grid-row: 2/3;
    grid-column: 2/3;

    box-sizing: border-box;
    padding: 0px 10px;
    margin: 2px 0;
    color: var(--sub-fore-ground);
}
#main-section #tasks-section #tasks .task .edit-task-btn{
    grid-row: 2/3;
    grid-column: 3/4;
}
#main-section #tasks-section #tasks .task .delete-task-btn{
    grid-row: 2/3;
    grid-column: 4/5;
}

#main-section #tasks-section #tasks .task .edit-task-btn, #main-section #tasks-section #tasks .task .delete-task-btn{
    padding: 8px;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    transition: background .5s;
}
#main-section #tasks-section #tasks .task .edit-task-btn:hover, #main-section #tasks-section #tasks .task .delete-task-btn:hover{
    background-color: var(--com-color);
    cursor: pointer;
}
#main-section #tasks-section #tasks .task .edit-task-btn i, #main-section #tasks-section #tasks .task .delete-task-btn i{
    font-size: 18px;
}

/*-------------------Agregar tareas-------------------*/
#main-section #tasks-section #add-new-task{
    margin-top: 25px;
}
#main-section #tasks-section #add-new-task h1{
    font-size: 26px;
    margin: 15px 0;
}
#main-section #tasks-section #add-new-task form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    background-color: var(--bg2);
}
#main-section #tasks-section #add-new-task form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#main-section #tasks-section #add-new-task form div label{
    font-weight: 200;
}
#main-section #tasks-section #add-new-task form div input, #main-section #tasks-section #add-new-task form div textarea{
    border-radius: 7px;
    border: 2px solid var(--com-color);
    padding: 10px;
    font-size: 15px;
    font-family: Poppins, Arial, Helvetica, sans-serif; 
}
#main-section #tasks-section #add-new-task form div textarea{
    min-height: 60px;
    max-height: 165px;
    resize: vertical;
}
/*boton de añadir tarea*/
#main-section #tasks-section #add-new-task form button{
    width: 15%;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    padding: 12px 10px;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: var(--primary);
    color: #FFF;
    transition: filter .5s;
}
#main-section #tasks-section #add-new-task form button:hover{
    filter: brightness(2);
    cursor: pointer;
}



/*-------------------Seccion de tareas completadas-------------*/
#main-section #completed-tasks-section{
    width: 28%;
    box-sizing: border-box;
    padding: 20px;
}

#main-section #completed-tasks-section #completed-tasks{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--border-color);
    background-color: var(--bg2);
}
/*completed task tittle*/
#main-section #completed-tasks-section #completed-tasks h1{
    font-size: 26px;
    margin: 8px 0;
}

#main-section #completed-tasks-section #completed-tasks .task{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 13px;
    border-radius: 7px;
    background-color: var(--com-color);
}


#main-section #completed-tasks-section #completed-tasks .task .task-tittle{
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    padding: 0px 10px;
    word-wrap: break-word;
    text-decoration: line-through;
}
#main-section #completed-tasks-section #completed-tasks .task .task-period-to-complete{
    grid-column: 2/4;
    grid-row: 1/2;
    color: var(--sub-fore-ground);
    align-self: flex-start;
    justify-self: center;
    font-size: 12px;
}
#main-section #completed-tasks-section #completed-tasks .task .come-back-task-btn{
    grid-column: 2/3;
}
#main-section #completed-tasks-section #completed-tasks .task .delete-task-btn{
    grid-column: 3/4;
}

#main-section #completed-tasks-section #completed-tasks .task .come-back-task-btn, #main-section #completed-tasks-section #completed-tasks .task .delete-task-btn{
    padding: 8px;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    transition: background .5s;
}
#main-section #completed-tasks-section #completed-tasks .task .come-back-task-btn:hover, #main-section #completed-tasks-section #completed-tasks .task .delete-task-btn:hover{
    background-color: var(--bg-color);
    cursor: pointer;
}
#main-section #completed-tasks-section #completed-tasks .task .come-back-task-btn i, #main-section #completed-tasks-section #completed-tasks .task .delete-task-btn i{
    font-size: 18px;
}